:root {
    --primary-color: hsl(204, 86%, 53%);
}

html,
body {
    margin: 0;
    height: 100%;
    
}

.hero {
    background-color: var(--primary-color);
}

.main {
    display: flex;
}

.leftSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    
}

#inputSection {
    display: inline-flex;
    flex-direction: column;
}

#form {
    padding: 35px;
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 12px;
}

#name {
    font-weight: bolder;
    color: white;
    font-size: xx-large;
}

#input {
    margin-top: 20px;
    margin-bottom: 20px;
}

#genresContainer {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
}

.rightSection {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-radius: 12px;
    margin: 20px 20px 20px 0;
    align-items: center;
}

.songColumn {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    
    
}

.song {
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

.song:hover {
    cursor: pointer;
}

#genres {
  display: flex;
  justify-content: space-around;
}

#genre1,
#genre2,
#genre3 {
    margin-left: 20px;
    margin-right: 20px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:absolute;
    background: var(--primary-color);
    color: white;
    bottom:0px;
    width:100%;
    height: 100px;
    font-weight: bolder;
    font-size: 22px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info {
  font-weight: bold;
  font-size: 45px;
  max-width: 100%;
}

.explicit {
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 10px;
}

.not-explicit{
  background-color: green;
  color:white;
  padding: 2px 5px;
  border-radius: 5px;

}

.lyrics {
  width: 50%;
  text-align: center;
  margin:  30px auto 50px auto;
  font-family: Arial,sans-serif;
}

/* Media Queries */

@media only screen and (max-width: 460px) {
    
#footer {
display: flex;
flex-wrap: wrap;
position: relative;
bottom:0px;
width:100%;
background: var(--primary-color); 
  }


}

@media only screen and (max-width: 615px) {
    
    #footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom:0px;
    width:100%;
    background: var(--primary-color); 
      }
    
    .main {
        margin-bottom: 20px;
    }
    
    }



