* {
    box-sizing: border-box;
}

:root {
    --primary-color: #241f1c;
    --text-color: #e7dac7; 
}

html,
body {
    margin: 0rem;
    padding: 0rem;
    height: 100%;
    font-size: 62.5%;
    background-color: var(--text-color);
}

#header {
    background-color: var(--primary-color);
}

.title {
    color: var(--text-color);
    font-size: 3.5rem
}

.subtitle {
    color: var(--text-color);
    font-size: 2.5rem
}

.button {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.formText {
    color: var(--text-color);
}


.main {
    display: flex;
    
}

.leftSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    
}

#inputSection {
    display: inline-flex;
    flex-direction: column;
}

#form {
    padding: 3.5rem;
    margin: 2rem;
    background-color: var(--primary-color);
    border-radius: 12px;
}

#name {
    font-weight: bolder;
    color: white;
    font-size: 3rem;
}

#input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3em;
    background-color: var(--text-color);
}

#genresContainer {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    margin: 2rem;
    padding: 2rem;
}

.rightSection {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    margin: 2rem 2rem 2rem 0;
    align-items: center;
}

.songColumn {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.song {
    color: white;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 2rem;
}

.song:hover {
    cursor: pointer;
}

#genres {
  display: flex;
  justify-content: space-around;
}

#genre1,
#genre2,
#genre3 {
    margin-left: 2rem;
    margin-right: 2rem;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--text-color);
    bottom: 0rem;
    height: 10rem;
    font-weight: bolder;
    font-size: 2.2rem;
}

#footer-lyricLover {
    margin-bottom: 1.5rem;
    margin-left: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info {
  font-weight: bold;
  font-size: 45px;
  max-width: 100%;
  margin-left: 5px;
}

.album {
  font-weight: bold;
  font-size: 45px;
}

.band {
  font-weight: bold;
  font-size: 25px;
}

.explicit {
  background-color: red;
  color: white;
  padding: .6rem .9rem;
  border-radius: 5px;
  margin: 1rem;
  font-size: 2rem;
}

.not-explicit{
  background-color: green;
  color:white;
  padding: .6rem .9rem;
  border-radius: 5px;
  margin: 1rem;
  font-size: 2rem;
}

.lyrics {
  width: 50%;
  text-align: center;
  margin:  3rem auto 5rem auto;
  font-family: Arial,sans-serif;
  font-size: 2rem;
}

.songsContainer {
  display: flex;
  flex-direction: column;

}

.album-header {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-bottom: 10px;
}


.thumbnail {
  border:gray 2px solid;
}

/* Media Queries */

@media only screen and (min-width: 771px) {

    #footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 275px;
        bottom:0rem;
        width:100%;
        margin-top: 2rem;
        background: var(--primary-color);
        }

    .main {
        margin-bottom: 2rem;
    }

}

@media only screen and (min-width: 800px) {
    
    #footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        bottom:0rem;
        width:100%;
        background: var(--primary-color); 
    }
        
    .main {
        margin-bottom: 2rem;
    }

}

@media only screen and (min-width: 1000px) {

    #footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        bottom:0rem;
        width:100%;
        margin-top: 2rem;
        background: var(--primary-color);
        justify-content: space-evenly;
    }

    .main {
        margin-bottom: 2rem;
    }

}

            

@media only screen and (min-width: 1150px) {

    #footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 275px;
        bottom:0rem;
        width:100%;
        margin-top: 2rem;
        background: var(--primary-color);
    }

    .main {
        margin-bottom: 2rem;
    }
    
}

@media only screen and (min-width: 1500px) {

    #footer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 275px;
        bottom:0rem;
        width:100%;
        margin-top: 2rem;
        background: var(--primary-color);
    }

    .main {
        margin-bottom: 2rem;
    }
    
}

@media only screen and (max-width: 800px) {
    
    #footer {
        display: flex;
        flex-wrap: wrap;
        bottom:0rem;
        width:100%;
        background: var(--primary-color); 
    }
                    
    .main {
        margin-bottom: 2rem;
    }
                    
}

@media only screen and (max-width: 770px) {
    
    #footer {
        display: flex;
        flex-wrap: wrap;
        bottom:0rem;
        width:100%;
        background: var(--primary-color); 
    }
                    
    .main {
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }
                
    .leftSection {
        min-width: 100%;
    }
                    
    .rightSection {
        min-width: 90%;
        margin-left: 3rem;
    }
                
}

/*@media only screen and (max-width: 460px) {
    
    #footer {
        display: flex;
        flex-wrap: wrap;
        bottom:0rem;
        width:100%;
        background: var(--primary-color); 
    }
                    
    .leftSection {
        min-width: 100%;
    }
                    
    .rightSection {
        min-width: 100%;
    }
                    
    .main {
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
                    
}*/

/* larger cell viewports */
@media only screen and (max-width: 480px) {
    
    #header {
        max-width: 100%;
        padding: 5px 10px 0 10px;
    }

    .subtitle {
        font-size: 13px;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    #form,
    #genres {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .formText {
        font-size: 24px;
    }

    #genresContainer {
        display: inline-flex;
        flex-direction: column;
        padding: 33px;
    }

    #album,
    #trend,
    #loved {
        margin: 10px 0;
    }

    #container {
        width: 90%;
    }

    #submitBtn,
    #album,
    #trend,
    #loved,
    #song1,
    #song2,
    #song3,
    #song4,
    #song5,
    #song6,
    #song7,
    #song8,
    #song9,
    #song10 {
        display: flex;
        align-items: stretch;
    }
   
    .leftSection {
        min-width: 100%;
    }
                    
    .rightSection {
        display: flex;
        flex-direction: column;
        min-width: 90%;
        margin-left: 20px;
    }

    #leftSongColumn {
        padding: 10px 0 0 0;
    }

    #rightSongColumn {
        padding: 0 0 10px 0;
    }
                    
    #footer {
        display: flex;
        flex-wrap: wrap;
        bottom:0rem;
        width:100%;
        background: var(--primary-color); 
    }

    .info {
        font-size: 25px;
    }

    .lyrics {
        width: 85%;
        font-size: 14px;
        margin: 1.5rem auto 5rem auto;
    }

    .album-header {
        max-width: 90%;
    }

    .thumbnail {
        height: 125px;
        width: 125px;
    }

    .album-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 7px;
    }

    .album {
        font-size: 25px;
    }

    .band {
        font-size: 20px;
    }
                    
}

/* smallest cell viewports */
@media only screen and (max-width: 324px) {

    .title {
        font-size: 3rem;
    }

    #container {
        width: 50%;
    }

    .rightSection {
        min-width: 87%;
        
    }
}