:root {
    --primary-color: hsl(204, 86%, 53%);
}

html,
body {
    margin: 0;
    height: 100%;
}

.main {
    display: flex;
}

.leftSection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#inputSection {
    display: inline-flex;
    flex-direction: column;
}

#form {
    padding: 35px;
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 12px;
}

#name {
    font-weight: bolder;
    color: white;
    font-size: xx-large;
}

#input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rightSection {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.songColumn {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    
    
}

.song {
    background-color: var(--primary-color);
    color: white;
    border-radius: 12px;
    padding: 5px;
    margin-top: 20px;
}

.song:hover {
    cursor: pointer;
}

#genres {
  display: flex;
  justify-content: space-around;
}

#genre1,
#genre2,
#genre3 {
    margin-left: 20px;
    margin-right: 20px;
}
